# Core App Framework
streamlit==1.39.0
requests==2.32.3
python-dotenv==1.0.1

# Data Handling & Math
pandas==2.2.3
numpy==1.26.4

# Visualization & 3D Animation
matplotlib==3.9.2
networkx==3.3
plotly==5.24.1
pythreejs==2.4.2
vpython==7.6.5
PyOpenGL==3.1.7

# File & PDF Handling
fpdf==1.7.2

# Text-to-Speech and Audio
gTTS==2.5.4
SpeechRecognition==3.10.1
pydub==0.25.1

# Computer Vision & Video Processing
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
moviepy==1.0.3

# Emotion, Face, and Behavior Analysis
fer==22.5.1
deepface==0.0.93

# AI/NLP & ML
transformers==4.45.1
scikit-learn==1.5.2

# Utilities
Pillow==10.4.0
tqdm==4.66.5
